.nsc--swiper-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  .swiper-slide {
    position: relative;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .swiper-pagination {
    z-index: 10;
    bottom: 30px;
    left: auto;
    right: 30px;
    width: auto;
  }

  .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}
