@use "@/app/styles/breakpoints" as *;

.calendar-page {
  // min-height: 100vh;
  background: transparent;
  padding: 60px 20px;

  @include respond-to("tablet") {
    padding: 80px 40px;
  }
}

.calendar-page-container {
  max-width: 600px;
  margin: 0 auto;
}

.calendar-page-title {
  margin: 0 0 15px;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;

  @include respond-to("tablet") {
    font-size: 2.5rem;
  }
}

.calendar-page-subtitle {
  margin: 0 0 50px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  line-height: 1.6;
}

.calendar-page-content {
  height:100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 70px 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 4px;

}
