@use "@/app/styles/breakpoints" as *;

.mobile-social-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  position: absolute;
  top: 100px;
  z-index: 9;

  @include respond-to("tablet") {
    display: none;
  }
}

.mobile-social-links-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #fff;

  svg {
    width: 100%;
    height: 100%;
  }

  &:hover {
    opacity: 1;
  }
}
