// ─── Reusable gallery control buttons ───

@use "@/app/styles/breakpoints" as *;

// Base button styles
.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: transparent;
  color: #1a1a1a;
  cursor: pointer;
  // transition: all 0.2s ease;

  // svg {
  //   display: block;
  // }
}

// Navigation arrows (prev/next)
.icon-btn--nav {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 5;

  svg {
    width: 30px;
    height: 30px;
    stroke-width: 0.5;
    stroke-color: #ccc;
    color: #9c9c9c;

    @include respond-to("tablet") {
      width: 80px;
      height: 80px;
    }
  }

  &:hover svg {
    color: #000000;
  }

  &.icon-btn--nav-prev {
    left: 0;
    padding-left: 30px;
    justify-content: start;

  }

  &.icon-btn--nav-next {
    padding-left: 30px;
    right: 0;
    justify-content: start;
  }
}

// Close button (top-right, compact chip style)
.icon-btn--close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 60px;
  height: 60px;
  z-index: 10;
  border-radius: 50%;

  svg {
    width: 60px;
    height: 60px;
    stroke-width: 0.5;
  }

  svg path {
    fill: #fff;
    stroke: #000000;
  }

  &:hover svg path {
    fill: #000000;
  }

}
